.dropzone {
  border: 2px dashed #007bff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: border .3s ease-in-out;
  background-color: #fafafa;
  cursor: pointer;
  color: black;
}

.dropzone.accept {
  background-color: #6babff;
}

.dropzone.active {
  border: 2px dashed #6babff;
}

.dropzone:hover {
  border: 2px dashed #0056b3;
  background-color: #6babff;
}

.dropzone:active {
  border: 2px dashed #0056b3;
  background-color: #6babff;
}

.dropzone.disabled {
  border: 2px dashed #6c757d;
  background-color: #8d8d8d;
  cursor: not-allowed;
}
