.image-errors {
  position: relative;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 0.25rem;
  color: #721c24;
  margin: 1rem 0;
  padding: 0.5rem 1rem;

  button.close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    color: #721c24;
    font-size: 1rem;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: 2px;

    &:after {
      content: "\02715";
    }

    &:hover {
      color: #721c24;
      background-color: #f5c6cb;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
      color: #721c24;
    }
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
  
      li {
        font-size: 0.875rem;
  
        .name {
          font-weight: bold;
          font-style: italic;
        }
      }
    }
  }

}
