.printable-images {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.print-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  --bleed-edge-width: var(--bleed-edge, 0mm);
  --guide-display: var(--guides-display, block);
  --guide-border-color: var(--guides-color, #adff2f);
  --guide-border-width: var(--guides-thickness, 1px);
  --guide-corner-offset: calc(
    calc(-0.5 * var(--guide-border-width)) +
      calc(var(--bleed-edge-width) * var(--guides-at-bleed-edge, 1))
  );
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--page-height, 11in);
  width: var(--page-width, 8.5in);
  background: white;
  overflow: hidden;
}

.page-container {
  position: relative;
}

.page-container.loading::after {
  content: "Rendering...";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #aaa;
  background-color: #00000099;
  z-index: 100;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns, 3), min-content);
  page-break-after: always;
  justify-content: center;
  align-items: center;
  text-align: center;
}
