.printable-images {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  min-width: 0;
  max-width: var(--page-width, 8.5 var(--page-unit, in));
}

.printable-images.help {
  align-self: stretch;
  justify-content: center;
}

.print-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-width: 100%;
  overflow-x: auto;

  --bleed-edge-width: var(--bleed-edge, 0mm);
  --image-zoom-width: var(--image-zoom, 6.2mm);
  --guide-display: var(--guides-display, block);
  --guide-border-color: var(--guides-color, #adff2f);
  --guide-border-color-inverted: var(--guides-color-inverted, #ff0000);
  --guide-border-width: var(--guides-thickness, 1px);
  --image-container-buffer-width: var(--image-container-buffer, var(--guide-border-width));
  --guide-corner-offset: calc(
    calc(-0.5 * var(--guide-border-width)) +
      calc(var(--bleed-edge-width) * var(--guides-at-bleed-edge, 1))
  );
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--page-height, 11 var(--page-unit, in));
  width: var(--page-width, 8.5 var(--page-unit, in));
  background: white;
  overflow: hidden;
}

.page-container {
  position: relative;
}

.page-container.loading {
  pointer-events: none;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns, 3), min-content);
  page-break-after: always;
  justify-content: center;
  align-items: center;
  text-align: center;
}
