form {
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  gap: 1rem;
  margin: 16px;
  align-self: stretch;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

input[type="number"],
input[type="color"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type="color"] {
  padding: 0;
  height: 2.5rem;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
}

